/* Assuming you have defined a class named 'square' for the board squares */
.square {
  
    width:10vh;
    height:10vh;
    font-size: 8vh;
    text-align: center;
    display: inline-flex;
    align-items: center;
    
    position: relative;
}

/* Class for highlighting valid squares */
.square.highlighted {
    background-color: #aaffaa; /* Light green */
}

/* Dot for valid move indication */
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: 5px;
    right: 5px;
}


/* Class for the PawnVisualizerOverlay */
.pawn-visualizer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
